@model ExpenseAppMvc.Models.ExpenseForm
@{
    ViewBag.Title = "RejectReason";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

@using (Html.BeginForm("ExpenseFormInformation", "ExpenseForm", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)

    @Html.LabelFor(x => x.UserId)
    @Html.DropDownListFor(x => x.UserId, (List<SelectListItem>)ViewBag.newuser, new
       { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.CurrencyId)
    @Html.DropDownListFor(x => x.CurrencyId, (List<SelectListItem>)ViewBag.newvalue, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.ExpenseStatusId)
    @Html.DropDownListFor(x => x.ExpenseStatusId, (List<SelectListItem>)ViewBag.newExpenseStatusValue, new
       { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Description)
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.RejectReason)
    @Html.TextBoxFor(x => x.RejectReason, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.CreateDate)
    @Html.TextBoxFor(x => x.CreateDate, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning" id="rejectReason">UPDATE</button>

    <script>
        $('#rejectReason').click(function () {
            swal("Reject Reason Added!");
        });
    </script>

}


